<div class="container">

    <h3 class="d-flex justify-content-center">Angular 11, Web API, SQL Server App Demo</h3>
    <h5 class="d-flex justify-content-center">Hockey Club Database</h5>
    
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">

            <li class="nav-item">
                <button routerLink="expenses" class="
                m-1 btn btn-light btn-outline-primary" Button>Expenses</button>
            </li>

            <li class="nav-item">
                <button routerLink="goals" class="
                m-1 btn btn-light btn-outline-primary" Button>Goals</button>
            </li>

            <li class="nav-item">
                <button routerLink="injuries" class="
                m-1 btn btn-light btn-outline-primary" Button>injuries</button>
            </li>

            <li class="nav-item">
                <button routerLink="injuryList" class="
                m-1 btn btn-light btn-outline-primary" Button> injury List</button>
            </li>

            <li class="nav-item">
                <button routerLink="managementWorkers" class="
                m-1 btn btn-light btn-outline-primary" Button> managementWorkers</button>
            </li>

            <li class="nav-item">
                <button routerLink="matches" class="
                m-1 btn btn-light btn-outline-primary" Button>matches</button>
            </li>

            <li class="nav-item">
                <button routerLink="opponents" class="
                m-1 btn btn-light btn-outline-primary" Button>opponents</button>
            </li>

            <li class="nav-item">
                <button routerLink="place" class="
                m-1 btn btn-light btn-outline-primary" Button>Place</button>
            </li>

            <li class="nav-item">
                <button routerLink="player" class="
                m-1 btn btn-light btn-outline-primary" Button>player</button>
            </li>

            <li class="nav-item">
                <button routerLink="seasons" class="
                m-1 btn btn-light btn-outline-primary" Button>seasons</button>
            </li>

            <li class="nav-item">
                <button routerLink="seasonTimeTable" class="
                m-1 btn btn-light btn-outline-primary" Button>seasonTimeTable</button>
            </li>

            <li class="nav-item">
                <button routerLink="team" class="
                m-1 btn btn-light btn-outline-primary" Button>team</button>
            </li>

        </ul>
    </nav>

    <router-outlet></router-outlet>
</div>